body {
  background-color: #e7ff00;
  margin-left: 10%;
  margin-right: 6%;
  margin-top: 8%;
  margin-bottom: 15%;
  font-family: "JetBrains Mono", Consolas, "Courier New", Courier, monospace;
}
h1, h2, h3, h4 {
  font-family: Georgia, "Palatino Linotype", Palatino, "Times New Roman", serif;
  color: crimson;
}
.resist {
  list-style: none;
}

.container{
    display: grid;
    min-width: 0;
    grid-template-rows:
     1fr;
    grid-template-columns: 
      minmax(20ch, 30ch) 
      minmax(50ch, 75ch) 
      minmax(50ch, 75ch) 
      minmax(20ch, 30ch); 
    grid-template-areas:
      "... typehead .... ........."
      "toc intro    main directory";
    column-gap: 50px;
    row-gap: 25px;
}

.container > * {
  min-width: 0;
}

@media (max-width: 180ch){ 
  .container { 
    grid-template-columns: minmax(20ch, 30ch) 
      1fr; grid-template-areas: 
      "... typehead" 
      "toc intro" 
      "directory main"; 
  } 
}

@media (max-width: 120ch) {
  .container {
    grid-template-columns: 1fr;
    grid-template-areas:
      "typehead"
      "toc"
      "intro"
      "main"
      "directory";
  }
}

.guide{
  grid-area: main;
}
.toc{
  grid-area: toc;
}
.typehead{
  grid-area: typehead;
 
}
.intro {
  grid-area: intro;
}
.directory{
  grid-area: directory;
}






.expand{
  color: #0000EE;
}




.ascii {
  text-align: center;
  white-space: pre;
  overflow-x: auto;
  font-family: monospace;
  font-weight: bold;
  line-height: 1.2;
  margin: 0;
}


